.info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B8B5AD;
}

.info-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-list ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.info-list ul li a {
  text-decoration: none;
  color : #6B6A65 !important;
}
.info-list ul li a:hover {
  color: #EAE7DC !important;
}