.skillList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillList ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}


.skillList img{
  height: 14vh;
  width: 100%;
}