body {
  background-color: #EAE7DC;
  color: #6B6A65;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  h3 {
    
    padding-top: 5%;
    font: 18px/24px"opensans-bold", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

  }
  

  p, span, h4 {
    height: auto;
    line-height: 200%;
    font: 18px/24px"opensans-bold", sans-serif;
    letter-spacing: 2.5px;
}
}